<div class="panel panel-primary" style="margin-top:5px">
    <div class="panel-heading">
        <h3>Ballot Details</h3>
    </div>
    <div class="panel-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Ballot ID: 
                    {{#if ballot_id}}
                        {{ballot_id}}
                    {{else}}
                        resubmitting form is disabled
                    {{/if }}
                </h3>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Literal Ballot</h2>
                        <div id="ballot_string_1" class="alert alert-warning"></div>
                    </div>
                    <div class="col-xs-6">
                        <h2>Processed Ballot</h2>
                        <div id="ballot_string_2" class="alert alert-success">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" href="/mark-ballot">Continue</a>
    </div>
</div>

<script>
// ===========================================================
// Initial page load
// ===========================================================
$(function(){
    // TODO: Implement. Currently this try block does not catch syntax error on form resubmit. 
    try {
        var ballot_string_1 = {{{json ballot_string}}}
        var div_1 = display_selection(ballot_string_1)
        $("#ballot_string_1").append(div_1)
        var ballot_string_2 = {{{json ballot_string_calc}}}
        var div_2 = display_selection(ballot_string_2)
        $("#ballot_string_2").append(div_2)
    }
    catch(err) {
        console.log('err:',err)
        $("#ballot_status").text('Resubmitting form is disabled.')
    }
})
</script>
