<div>
    <h1><i class="fa fa-download"></i> Export Contest</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" href="#help-panel" aria-expanded="false" aria-controls="footwear"><span class="fa fa-question-circle"></span> Help</a></h3>
    </div>
    <div class="panel-body collapse" id="help-panel">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Purpose of Page</h3>
            </div>
            <div class="panel-body">
                Export transformed ballots to JSON file for loading into next tool of the audit process.
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Target Audience</h3>
            </div>
            <div class="panel-body">
                Election administrator (or Laurent or Dan)
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Frequency</h3>
            </div>
            <div class="panel-body">
                Run one time (for the pilot) or once per contest (in future elections)
            </div>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-success btn-lg fa fa-download"> Export Ballots</button>
</div>

<h4>Export results</h4>
<p>
    <span class="text-bold">File:</span> <span class="fa fa-upload"></span> mascot_contest_ballots.json
</p>
<p>
    <span class="text-bold">Ballots Entered:</span>&nbsp;TO DO
</p>
<p>
    <span class="text-bold">Invalid Ballots:</span>&nbsp;TO DO
</p>
<p>
    <span class="text-bold">Ballots Exported:</span>&nbsp;TO DO
</p>
<p>
    <span class="text-bold">Contents:</span>
</p>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-file"></span> <code>mascot_contest_ballots.json</code></h3>
    </div>
    <div class="panel-body">
        <pre>
{{#if json_content}}
{{ json json_content }}
{{/if }}
        </pre>
    </div>
</div>

