<div>
    <h1><i class="fa fa-download"></i> Export Contest</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<ul>
    <li>Prompt for Filename</li>
    <li>Export it</li>
</ul>
