<div>
    <h1><i class="fa fa-upload"></i> Load Contest</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><a data-toggle="collapse" href="#help-panel" aria-expanded="false" aria-controls="footwear"><span class="fa fa-question-circle"></span> Help</a></h3>
    </div>
    <div class="panel-body collapse" id="help-panel">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Purpose of Page</h3>
            </div>
            <div class="panel-body">
                Load contest details such as:
                <ul>
                    <li>Contest name</li>
                    <li>Candidate names</li>
                    <li>Unique candidate identifiers</li>
                    <li>Candidate images</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Target Audience</h3>
            </div>
            <div class="panel-body">
                Election administrator (or Laurent or Dan)
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Frequency</h3>
            </div>
            <div class="panel-body">
                Run one time (for the pilot) or once per contest (in future elections)
            </div>
        </div>
    </div>
</div>


<form method='post' enctype="multipart/form-data" name="contest-form" id="contest-form" action="/contests/submit-contest-candidates/">

<div>
    <input type='file' name='fileUploaded'>
    <button type="button" class="btn btn-success btn-lg fa fa-upload"> Upload Contest Details</button>
</div>
</form>

<h4>Upload results</h4>
<p>
    <span class="text-bold">File:</span> <span class="fa fa-upload"></span> mascot_contest.json
</p>
<p>
    <span class="text-bold">Status:</span> <span class="fa fa-check"></span> Valid 
</p>
<p>
    <span class="text-bold">Contents:</span>
</p>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-file"></span> <code>mascot_contest.json</code></h3>
    </div>
    <div class="panel-body">
        <pre>
{
	"contest-name": "Team Mascot",
	"contest-id": "987654321",
	"candidates":[
		{
			"candidate-name": "Ant",
			"candidate-image": "ant.png",
			"candidate-id": "a1",
		},
		{
			"candidate-name": "Bee",
			"candidate-image": "bee.png",
			"candidate-id": "b1",
		},
		{
			"candidate-name": "Cat",
			"candidate-image": "cat.png",
			"candidate-id": "c3",
		},
		{
			"candidate-name": "Dog",
			"candidate-image": "dog.png",
			"candidate-id": "d4",
		},
		{
			"candidate-name": "Elk",
			"candidate-image": "elk.png",
			"candidate-id": "e5",
		},
		{
			"candidate-name": "Fox",
			"candidate-image": "fox.png",
			"candidate-id": "f6",
		},
		{
			"candidate-name": "Gnu",
			"candidate-image": "gnu.png",
			"candidate-id": "g7",
		},
		{
			"candidate-name": "Hog",
			"candidate-image": "hog.png",
			"candidate-id": "h8",
		}
	]
}        </pre>
    </div>
</div>
