<div>
    <h1><i class="fa fa-cog"></i> Settings</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<ul>
    <ul>Settings</ul>
</ul>
