<div>
    <h1><i class="fa fa-cog"></i> Settings</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<ul>
    <ul>Settings</ul>
</ul>

<ol>
    <li>value for prompt for confirmation after submission</li>
    <li>variable names to use in the output</li>
    <li>ballot layout: colms for choices vs colms for candidates</li>
</ol>
