<div>
    <h1><i class="fa fa-cog"></i> Settings</h1>
    {{#if message}}
        <div class="alert alert-info">
            <h1><i class="fa fa-info-circle"></i> {{ message }}</h1>
        </div>
    {{/if }}
</div>

<div style="font-size:x-large">
    <div style="margin-bottom:10px">
    </div>
    <div style="margin-bottom:10px">
    </div>
    <div style="margin-bottom:10px">
    </div>
</div>

<div class="container" style="font-size:x-large">
    <div class="row" style="margin:16px"> 
        <div class="col-sm-12">
            <a href="/load-contest" class="btn btn-success fa fa-upload"> Load Contest</a>
        </div>
    </div>
    <div class="row" style="margin:16px">
        <div class="col-sm-12">
            <form name="discard-all-ballots" id="discard-all-ballots" action="/ballots/discard-all-ballots/" method="POST">
                <button type="button" class="btn btn-danger fa fa-trash" onclick="discard_all_ballots()"> Discard All Ballots</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:32px">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
    <div class="row" style="margin:16px">
        <div class="col-sm-12">
            See also: <a href="/html/ConvertCVRToRAIRE.html" class="btn btn-success fa fa-share" target="_blank"> Convert CVR To RAIRE tool</a>
        </div>
    </div>

    <div class="row" style="margin:16px">
        <div class="col-sm-12">
            <i class="fa fa-check-circle">&nbsp;</i><code>Known TO-DO: Add option to load branding/logo</code>
        </div>
    </div>
</div><!-- /container -->